<div class='col-md-8'>
	
	<button class='btn home' ng-show='submitScienceButton' ng-click="showScienceForm()">Add Science Formula</button>
	<form ng-show='submitScience' role='form'>
		<div class='form-group'>
			<label>Science Formula Title</label>
				<input type='text' placeholder='Science Title' ng-model='science.name' class='form-control' /> 
			
			<label>Formula</label>
				<div text-angular ng-model='science.formula'></div>
			
			<label>Example</label>
				<div text-angular ng-model='science.example'></div>
			
			<button class='btn submit' ng-click='addScienceFormula()'>Submit</button>
			
			<button class='btn cancel' ng-click="hideScienceForm()">Cancel</button>

		</div>
	</form>

<ul class="list-group">
<input class='form-control' type='text' placeholder='Search Tips' ng-model='search'/>
  <li class="list-group-item science" ng-repeat="science in sciences |filter: search">
    <b>Title:</b> {{science.name}}
    <br/>
   <b>Formula:</b> <p ng-bind-html='science.formula'></p>
   <br/>
   <b>Example:</b> <p ng-bind-html='science.example'></p>
   <p class='timestamp'><b>Time:</b> {{science.timestamp | date: 'medium'}}</p>

  </li>

</ul>
</div>